body {
    margin: auto;
    padding: 0;

    // line-height: 34px;
    font-size: large;

    a {
        color: #FFF;
    }
}

.logo-header {
    font-family: Comfortaa;
}

header {
    background-color: #00b8ff;
}

.colored {
    background-color: #00b8ff;
    color: #FFF;
}

img.art {
    width: 350px;
}

img.art-logo {
    width: 120px;
}

.google-badge {
    height: 100px;
}

.apple-badge {
    height: 70px;
}