body {
    margin: auto;
    padding: 0;

    line-height: 34px;

    a {
        color: #FFF;
    }
}

.container {
    padding: 0;
    margin: 0;
    height: 100vh;

    background-color: #00b8ff;
    color: antiquewhite;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;

    .logo {
        margin: auto;
    }

    .hero {
        position: relative;

        .title {
            font-size: 4rem;
            padding: 2rem 3rem;
        }

        .body {
            margin-top: 10px;
                font-size: 1.4rem;

            .head {
                font-size: 2rem;
                margin: 1.3rem auto;
            }
        }
    }
}

.logo-header {
    font-family: Comfortaa;
}

video {
    object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

header {
    background-color: #00b8ff;
}